################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EF_ServiceManagment/.vs
/ADO&Dapper_ServiceManagment/.vs